<% include ../partials/header %>
  <div class="container">
    <div class="row">
      <form action="/users/update" method="post">
        <div class="form-group">
          <label for="id">ID: </label>
          <input type="text" class="form-control" name="id" id="id" value="<%= user.id %>" placeholder="ID" readonly="true">
        </div>
        <div class="form-group">
          <label for="first-name">First Name: </label>
          <input type="text" class="form-control" name="firstname" id="first-name" value="<%= user.firstname %>" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="last-name">Last Name: </label>
          <input type="text" class="form-control" name="lastname" id="last-name" value="<%= user.lastname %>" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="phone">Phone Number: </label>
          <input type="text" class="form-control" name="phone" id="phone" value="<%= user.phone %>" placeholder="Phone Number">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
<% include ../partials/footer %>
